@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --percentage: 63%;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  @keyframes percentage {
    from {
      width: 0%;
    }
    to {
      width: var(--percentage);
    }
  }
  --animate-percentage: percentage 0.3s ease-in-out forwards;
  --font-mono: var(--font-geist-mono);
}
.question-option:has(input[type="checkbox"]:checked),
.question-option:has(input[type="radio"]:checked) {
  background-color: #5d7aff;
  color: #ffffff;
}
.question-option-input-container:has(input[type="checkbox"]:checked),
.question-option-input-container:has(input[type="radio"]:checked) {
  border-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
